stages:
  - build
  - staging
  - production

build:
  stage: build
  script:
    - ./gradlew build
  tags:
    - RJandJim

staging:
  stage: staging
  script:
    - ./gradlew distZip
    - echo $GCP_SERVICE_KEY > /tmp/$GCP_PROJECT_ID.json
    - gcloud auth activate-service-account --key-file /tmp/$GCP_PROJECT_ID.json
    - gcloud compute --project $GCP_PROJECT_ID scp --zone $GCP_ZONE build/distributions/* $GCP_USER@staging:~/public_html --quiet
    - gcloud compute ssh --zone $GCP_ZONE $GCP_USER@staging --command "$INSTALL_DIR/setup.sh"
  after_script:
    - rm /tmp/$GCP_PROJECT_ID.json
  tags:
    - RJandJim
  only:
    - master
    
production:
  stage: production
  script:
    - ./gradlew distZip
    - echo $GCP_SERVICE_KEY > /tmp/$GCP_PROJECT_ID.json
    - gcloud auth activate-service-account --key-file /tmp/$GCP_PROJECT_ID.json
    - gcloud compute --project $GCP_PROJECT_ID scp --zone $GCP_ZONE build/distributions/* $GCP_USER@production:~/public_html --quiet
    - gcloud compute ssh --zone $GCP_ZONE $GCP_USER@production --command "$INSTALL_DIR/setup.sh"
  after_script:
    - rm /tmp/$GCP_PROJECT_ID.json
  tags:
    - RJandJim
  only:
    - tags
